In [1]:
mylist = [1,2,3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [5]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [6]:
range(0,11,2)

range(0, 11, 2)

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [9]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [13]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [11]:
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [14]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [21]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [22]:
zip(mylist1,mylist2,mylist3)

In [23]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [24]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [25]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [26]:
'x' in [1,2,3]

False

In [27]:
'x' in ['x','y','z']

True

In [28]:
2 in [1,2,3]

True

In [29]:
'a' in 'a world'

True

In [30]:
'mykey' in {'mykey':345}

True

In [32]:
d = {'mykey':345}

345 in d.values()

True

In [33]:
d = {'mykey':345}

345 in d.keys()

False

In [34]:
mylist = [10,20,30,40,100]

In [35]:
min(mylist)

10

In [36]:
max(mylist)

100

In [37]:
from random import shuffle

In [38]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [41]:
shuffle(mylist)

In [42]:
mylist

[2, 9, 3, 1, 7, 10, 6, 8, 4, 5]

In [43]:
random_list = shuffle(mylist)

In [44]:
type(random_list)

NoneType

In [45]:
from random import randint

In [46]:
randint(0,100)

71

In [47]:
randint(0,100)

17

In [48]:
mynum = randint(0,10)

In [49]:
mynum

0

In [50]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [51]:
result = input('What is your name? ')

What is your name? Jose

In [52]:
result

'Jose'

In [53]:
result = input('Favorite Number: ')

Favorite Number: 30

In [54]:
result

'30'

In [55]:
type(result)

str

In [56]:
float(result)

30.0

In [57]:
int(result)

30