In [2]:
def lesser_of_two_evens(a,b):
    
    if a%2 == 0 and b%2==0:
        # BOTH NUMBERS ARE EVEN!
        if a < b:
            result = a
        else:
            result = b
    else:
        #ONE OR BOTH NUMBERS ARE ODD!
        if a > b:
            result = a
        else: 
            result = b
    return result

In [3]:
lesser_of_two_evens(2,4)

2

In [4]:
lesser_of_two_evens(7,5)

7

In [5]:
min(10,20)

10

In [6]:
max(10,20)

20

In [7]:
def lesser_of_two_evens(a,b):
    
    if a%2 == 0 and b%2==0:
        # BOTH NUMBERS ARE EVEN!
        result = min(a,b)
    else:
        #ONE OR BOTH NUMBERS ARE ODD!
        result = max(a,b)
    return result

In [8]:
lesser_of_two_evens(2,4)

2

In [9]:
lesser_of_two_evens(7,5)

7

In [11]:
def lesser_of_two_evens(a,b):
    
    if a%2 == 0 and b%2==0:
        # BOTH NUMBERS ARE EVEN!
        return min(a,b)
    else:
        #ONE OR BOTH NUMBERS ARE ODD!
        return max(a,b)

In [12]:
lesser_of_two_evens(2,4)

2

In [13]:
lesser_of_two_evens(7,5)

7

In [16]:
def animal_crackers(text):
    wordlist = text.split()
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[0]

In [17]:
animal_crackers('Levelheaded Llama')

True

In [18]:
animal_crackers('Crazy Kangaroo')

False

In [19]:
def animal_crackers(text):
    wordlist = text.split()
    
    return wordlist[0][0] == wordlist[1][0]

In [20]:
animal_crackers('Levelheaded Llama')

True

In [21]:
animal_crackers('Crazy Kangaroo')

False

In [22]:
animal_crackers('Crazy cat')

False

In [23]:
def animal_crackers(text):
    wordlist = text.lower().split()
    
    return wordlist[0][0] == wordlist[1][0]

In [24]:
animal_crackers('Crazy cat')

True

In [25]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [26]:
makes_twenty(20,10)

True

In [27]:
makes_twenty(2,3)

False

In [28]:
def makes_twenty(n1,n2):
    
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [29]:
makes_twenty(20,10)

True

In [30]:
makes_twenty(2,3)

False

In [32]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [33]:
old_macdonald('macdonald')

'MacDonald'

In [34]:
def old_macdonald(name):
    
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [35]:
old_macdonald('macdonald')

'MacDonald'

In [36]:
def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return reverse_word_list

In [37]:
master_yoda('I am home')

['home', 'am', 'I']

In [38]:
master_yoda('We are ready')

['ready', 'are', 'We']

In [39]:
mylist = ['a','b','c']

In [40]:
'--'.join(mylist)

'a--b--c'

In [41]:
' '.join(mylist)

'a b c'

In [43]:
'oooooo'.join(mylist)

'aoooooobooooooc'

In [44]:
def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join(reverse_word_list)

In [45]:
master_yoda('I am home')

'home am I'

In [46]:
master_yoda('We are ready')

'ready are We'

In [47]:
def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [48]:
almost_there(104)

True

In [49]:
almost_there(150)

False

In [52]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        
    return False

In [51]:
has_33([1, 3, 3])

True

In [53]:
has_33([1, 3, 1, 3])

False

In [54]:
has_33([3, 1, 3])

False

In [56]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
        
    return False

In [57]:
has_33([1, 3, 3])

True

In [58]:
has_33([1, 3, 1, 3])

False

In [59]:
has_33([3, 1, 3])

False

In [60]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [61]:
paper_doll('Hello')

'HHHeeellllllooo'

In [62]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [63]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])-10 <= 21:
        return sum([a,b,c])-10
    else:
        return "BUST"

In [64]:
blackjack(5,6,7)

18

In [65]:
blackjack(9,9,9)

'BUST'

In [66]:
blackjack(9,9,11)

19

In [78]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [79]:
summer_69([1, 3, 5])

9

In [80]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [81]:
summer_69([2, 1, 6, 9, 11])

14

In [82]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    # ['x'] length=1
    
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
    
    return len(code) == 1

In [83]:
spy_game([1,2,4,0,0,7,5])

True

In [84]:
spy_game([1,0,2,4,0,5,7])

True

In [85]:
spy_game([1,7,2,0,4,5,0])

False

In [86]:
# count_primes(100) --> 25

In [92]:
def count_primes(num):
    
    # Check for 0 or 1 input
    if num < 2:
        return 0
    #################
    # 2 or greater
    #############
    
    # Store our prime numbers
    primes = [2]
    # Counter going up to input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        # Check if x is prime
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [94]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [96]:
def count_primes(num):
    
    # Check for 0 or 1 input
    if num < 2:
        return 0
    #################
    # 2 or greater
    #############
    
    # Store our prime numbers
    primes = [2]
    # Counter going up to input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        # Check if x is prime
        for y in primes:
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)